/*start aboutus section*/
.about-us-left-side{
    background-color: #efefef;
     min-height: 200px;
    padding: 50px;
 }
 .about-us-left-side h4{
    border-bottom: 1px solid #cfc9c9;
    padding-bottom: 8px;
    font-size: 14px;
 }
 .about-us-left-side p{
     padding: 20px;
     font-size: 14px;
     line-height: 32px;
     color:rgb(122, 88, 88)

 }
 .about-us-left-side a{
    background-color: orange;
    color: beige;
    padding: 3px 10px;
    margin-right: 310px;
    border-radius: 3px;
    font-size: 14px;
   position: absolute;
   left:60px;
    transition: 0.5s ease;

 }
 .about-us-left-side a:hover{
     border-radius: 0 15px 0 15px;
 }

 @media screen and (max-width:992px){
     /*mikhahim vaghti ba gooshi mibini ax aboutus hazf beshe va user faghat matn bebine*/
     .about-us-right-side{
         display: none;
     }
 }
 