/* start navbar section styles */
.active {
    border-bottom: 2px solid rgb(146, 82, 82);
}

.nav {
    background-color: rgb(228, 221, 221);
    overflow: hidden;
   position: sticky;
   top:0px;
   z-index: 999;
    /* height: 35px;  */
    padding-top: 8px;
}

.nav a {
    float: right;
    color: rgb(64, 59, 59);
    text-decoration: none;
    text-align: center;
    padding-right: 14px;
    font-size: 14px;
}

.nav a:hover{
    /* background-color: rgb(204, 120, 120); */
    border-bottom: 2px solid rgb(68, 43, 43);
}

.icon {
    display: none;
}

@media screen and (max-width:600px) {
    .nav a:not(:first-child) {
        display: none;
    }

    .nav a.icon {
        display: block;
        float: left;
    }
}
.nav.responsive{
   position: relative;
}
.nav.responsive a.icon{
   position: absolute;
   top:0;
   left: 0;

}
.nav.responsive a{
   float: none;
   display: block;
   text-align: right;
}

/* end navbar section styles */